<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site.name') %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>

  <body>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="#">Subscribe</a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="/"><%= t('site.name') %></a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3" focusable="false" role="img"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
            <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="#">传习录</a>
          <a class="p-2 text-muted" href="#">论语</a>
          <a class="p-2 text-muted" href="#">大学</a>
          <a class="p-2 text-muted" href="#">中庸</a>
          <a class="p-2 text-muted" href="#">孟子</a>
          <a class="p-2 text-muted" href=<%= users_path %>>圣哲故事</a>
          <a class="p-2 text-muted" href="#">网络资源</a>
          <a class="p-2 text-muted" href="#">新闻</a>
          <a class="p-2 text-muted" href="#">活动</a>
          <!--      <a class="p-2 text-muted" href="#">You can add more</a>-->
        </nav>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
